.box {
    border: 2px solid black;
}
.center {
    margin-left: auto;
	margin-right: auto;
}
.container0 {
    margin: auto;
}
.container1 {
    max-width: 1200px;
    margin: auto;
    background-color: white;
    padding: 20px;  
}
.container2 {
    display: block;
    background: rgb(255, 255, 255);
    width: 100%;
    margin: 20px;
    padding: 20px;
    width: auto;
}
body {
    min-height: 100vh;
}
html {
    font-size: 16px;
}
h1 {
    font-family: 'Open Sans', sans-serif;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
p {
    font-family: 'Libre Franklin', sans-serif;
}
.logo-font {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}
.text-center-align {
    display: inline-block;
    text-align: center;
}
.column {
    float: left;
    width: 60%;
    padding: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.float-top-right {
    display: inline-block;
    float: right;
    padding: 0px 0px 0px 10px;
}
.logo-header {
    display: inline-block;
}
.logo-img {
    display: inline-block;
    float: left;
    padding: 10px 5px 5px 10px;
}
.logo-text {
    display: inline-block;
}
.topnav {
        background-color: orange;
        overflow: hidden;
        margin: 10px 0px 10px 0px;
}
#nav-position a {
    display: inline-fle;
    float: right;
    padding: 20px 20px;
}
.topnav a {
    float: right;
    color: #000000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 20px;
}
.discovery {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: auto;
}
.discovery-box {
    height: 20px;
    width: 20px;
    background-color: #ffa64d;
    display: inline-block;
    margin: 0px 5px 1px 0px;
}
.box-lightblue {
    background: lightblue;
}
.box-green {
    background: green;
    padding: 0px 100px 0px 100px;
}
.box-orange {
    background: orange;
    text-align: center;
    padding: 20px 20px 30px 20px;
    font-size: 1.3em;
}
.box-purple {
    background: purple;
    text-align: center;
    padding: 0px 100px 0px 100px;
    font-size: 1.2em;
}
.box-blue {
    background: rgb(77, 77, 240);
    text-align: left;
    padding: 0px 200px 0px 200px;
    
}
.box-red {
    display: inline-block;
    background: darkred;
    padding: 10px 200px 0px 200px;
    margin-left: 30px;
    font-size: 1.1em;
}
.box-s {
    background: gold;
    text-align: left;
    padding-left: 95px;
    padding-bottom: 20px;
}
.box-brown {
    background: saddlebrown;
    display: block;
    float: right;
    margin: 10px 20px 20px 0px;
}
.box-black {
    background: black;
    color: white;
    padding: 20px 25px 20px 20px;
    width: 32%;
    float: right;
    margin: 20px 20px 0px 0px;
}
.box-red {
    display: inline-block;
    background: darkred;
    padding: 10px 200px 0px 200px;
    font-size: 1.1em;
}
.box-teal {
    display: inline;
    background: teal;
    margin-left: 230px;
    padding-top: 30px;
}
.box-pink {
    display: inline-block;
    background: pink;
    width: 52%;  
    padding-left: 95px;
    text-align: left;
}
.box-r {
    background: cornflowerblue;
    padding-left: 95px;
    padding-right: 100px;
}